In [1]:
import pandas as pd

In [39]:
df = pd.read_excel('test.xlsx')
df.head(5)

,Ticker,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-01 00:00:00,148.000000,215.00000,457.00000,356.00000,325.00,236.0000,450.0000,445.000,347.00000,476.00000,458.00000,211.000000,165.00000,443.0000,411.00000,497.000000
2,2024-01-02 00:00:00,156.880000,223.60000,470.71000,348.88000,325.00,243.0800,432.0000,427.200,367.82000,490.28000,444.26000,223.660000,163.35000,460.7200,419.22000,516.880000
3,2024-01-03 00:00:00,153.742400,237.01600,498.95260,366.32400,325.00,247.9416,444.9600,427.200,389.88920,514.79400,430.93220,225.896600,171.51750,437.6840,427.60440,527.217600
4,2024-01-04 00:00:00,147.592704,229.90552,474.00497,380.97696,308.75,247.9416,440.5104,435.744,370.39474,519.94194,452.47881,228.155566,181.80855,459.5682,448.98462,532.489776

In [41]:
df.stack

<bound method DataFrame.stack of                  Ticker           A           B           C           D  \
0                  Date         NaN         NaN         NaN         NaN
1   2024-01-01 00:00:00  148.000000  215.000000  457.000000  356.000000
2   2024-01-02 00:00:00  156.880000  223.600000  470.710000  348.880000
3   2024-01-03 00:00:00  153.742400  237.016000  498.952600  366.324000
4   2024-01-04 00:00:00  147.592704  229.905520  474.004970  380.976960
5   2024-01-05 00:00:00  141.688996  239.101741  464.524871  403.835578
6   2024-01-06 00:00:00  145.939666  236.710723  492.396363  419.989001
7   2024-01-07 00:00:00  150.317856  243.812045  502.244290  428.388781
8   2024-01-08 00:00:00  148.814677  236.497684  502.244290  441.240444
9   2024-01-09 00:00:00  145.838384  248.322568  522.334062  423.590826
10  2024-01-10 00:00:00  147.296767  263.221922  496.217359  402.411285
11  2024-01-11 00:00:00  150.242703  273.750799  506.141706  422.531849
12  2024-01-12 00:00:00  153.247557  290.175847  521.325957  405.630575
13  2024-01-13 00:00:00  154.780032  287.274088  547.392255  397.517964
14  2024-01-14 00:00:00  148.588831  284.401347  569.287945  401.493143
15  2024-01-15 00:00:00  148.588831  270.181280  546.516427  417.552869
16  2024-01-16 00:00:00  157.504161  264.777654  541.051263  434.254984
17  2024-01-17 00:00:00  162.229286  259.482101  535.640750  442.940084
18  2024-01-18 00:00:00  171.963043  254.292459  530.284343  442.940084
19  2024-01-19 00:00:00  163.364891  259.378309  519.678656  460.657687
20  2024-01-20 00:00:00  155.196646  264.565875    0.000000  483.690571
21  2024-01-21 00:00:00  147.436814  251.337581         NaN  498.201288
22  2024-01-22 00:00:00  147.436814  251.337581         NaN  483.255250
23  2024-01-23 00:00:00  151.859918  253.850957         NaN  502.585460
24  2024-01-24 00:00:00  150.341319  266.543505         NaN  512.637169
25  2024-01-25 00:00:00  159.361798  282.536115         NaN  502.384426
26  2024-01-26 00:00:00  162.549034  276.885393         NaN  527.503647
27  2024-01-27 00:00:00  154.421583  282.423100         NaN  522.228610
28  2024-01-28 00:00:00  159.054230  288.071562         NaN  543.117755
29  2024-01-29 00:00:00  165.416399  293.832994         NaN  575.704820
30  2024-01-30 00:00:00  175.341383  287.956334         NaN  558.433676
31  2024-01-31 00:00:00  180.601625  296.595024         NaN  575.186686
32  2024-02-01 00:00:00  178.795608  311.424775         NaN  580.938553
33  2024-02-02 00:00:00  182.371521  295.853536         NaN  563.510396
34  2024-02-03 00:00:00  175.076660  289.936466         NaN  546.605084

             E           F           G           H           I           J  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1   325.000000  236.000000  450.000000  445.000000  347.000000  476.000000
2   325.000000  243.080000  432.000000  427.200000  367.820000  490.280000
3   325.000000  247.941600  444.960000  427.200000  389.889200  514.794000
4   308.750000  247.941600  440.510400  435.744000  370.394740  519.941940
5   321.100000  257.859264  466.941024  435.744000  366.690793  540.739618
6   330.733000  250.123486  476.279844  453.173760  381.358424  551.554410
7   314.196350  262.629660  495.331038  439.578547  373.731256  523.976689
8   317.338313    0.000000  495.331038  439.578547  355.044693  518.736923
9   326.858463         NaN  470.564486  448.370118  344.393352  529.111661
10  323.589878         NaN  447.036262  425.951612  361.613020  513.238311
11  339.769372         NaN  429.154812  421.692096  372.461410  508.105928
12  346.564760         NaN  407.697071  430.125938  376.186025  518.268047
13  350.030407         NaN  407.697071  425.824679  387.471605  528.633408
14  346.530103         NaN  419.927983  451.374159  395.221037  539.206076
15  332.668899         NaN  445.123662  455.887901  407.077669  544.598136
16  329.342210         NaN  462.928609  433.093506  411.148445  544.598136
17  312.875100         NaN  449.040750  454.748181  419.371414  528.260192
18  300.360096         NaN  471.492788  450.200699  402.596558  517.694989
19  297.356495         NaN  457.348004  454.702706  398.570592  538.402788
20  309.250754         NaN  434.480604  477.437842  398.570592  570.706955
21  306.158247         NaN  430.135798  458.340328  398.570592  587.828164
22  312.281412         NaN  443.039872  444.590118  390.599180  623.097854
23  321.649854         NaN  469.622264  462.373723  398.411164  604.404918
24  331.299350         NaN  474.318487  462.373723  394.427052  634.625164
25  327.986356         NaN  474.318487  448.502511  374.705699  647.317667
26  311.587038         NaN  455.345747  475.412662  367.211585  653.790844
27  302.239427         NaN  450.792290  503.937422  363.539470  673.404569
28  311.306610         NaN  477.839827  503.937422  356.268680  713.808844
29  329.985007         NaN  506.510217  503.937422  374.082114  756.637374
30  343.184407         NaN  496.380013  524.094919  366.600472  794.469243
31  356.911783         NaN  481.488612  550.299664  377.598486  842.137398
32  364.050019         NaN  457.414182  533.790674  381.374471  867.401519
33  371.331019         NaN  471.136607  533.790674  396.629450  884.749550
34  378.757640         NaN  457.002509  517.776954  388.696861  840.512072

             K           L           M           N           O           P
0          NaN         NaN         NaN         NaN         NaN         NaN
1   458.000000  211.000000  165.000000  443.000000  411.000000  497.000000
2   444.260000  223.660000  163.350000  460.720000  419.220000  516.880000
3   430.932200  225.896600  171.517500  437.684000  427.604400  527.217600
4   452.478810  228.155566  181.808550  459.568200  448.984620  532.489776
5   443.429234  241.844900  187.262807  482.546610  431.025235  505.865287
6   425.692064  237.008002  187.262807  468.070212  426.714983  485.630676
7   451.233588  239.378082  198.498575  491.473722  413.913533  480.774369
8   478.307604  251.346986  210.408489  506.217934  397.356992  480.774369
9   459.175299  246.320046  214.616659  516.342293  385.436282  504.813087
10  486.725817  236.467245  221.055159  536.995984  385.436282  494.716826
11  511.062108  250.655279  214.423504  515.516145  393.145008  479.875321
12  495.730245  260.681490  216.567739  530.981629  412.802258  470.277814
13  520.516757  258.074675  229.561804  515.052180  408.674236  474.980593
14  536.132260  260.655422  234.153040  525.353224  425.021205  460.731175
15  552.216228  263.261976  241.177631  546.367353  437.771841  442.301928
16  579.827039  260.629357  241.177631  546.367353  429.016404  459.994005
17  591.423580  271.054531  248.412960  546.367353  420.436076  469.193885
18  615.080523  273.765076  263.317737  529.976332  399.414273  483.269702
19  651.985355  268.289775  265.950915  519.376806  403.408415  492.935096
20  632.425794  260.241081  273.929442  545.345646  419.544752  468.288341
21  600.804504  273.253136  271.190148  545.345646  444.717437  496.385641
22  618.828639  262.323010  287.461557  567.159472  435.823088  496.385641
23  587.887207  259.699780  296.085403  572.831067  431.464857  511.277211
24  599.644952  272.684769  304.967965  607.200931  418.520912  531.728299
25  623.630750    0.000000  311.067325  643.632986  418.520912  510.459167
26  604.921827         NaN  295.513958  675.814636  405.965284  515.563759
27  604.921827         NaN  292.558819  709.605368  405.965284  536.186309
28  586.774172         NaN  298.409995  723.797475  430.323201  557.633761
29  616.112881         NaN  292.441795  716.559500  447.536129  552.057424
30  591.468366         NaN  289.517377  738.056285  469.912936  535.495701
31  609.212417         NaN  292.412551  782.339662  474.612065  530.140744
32  584.843920         NaN  280.716049  758.869472  488.850427  503.633707
33  614.086116         NaN  269.487407  743.692083  518.181453  518.742718
34  626.367838         NaN  285.656652  743.692083  512.999638  503.180437  >